<a href="https://colab.research.google.com/github/jorgevillegazz/Challange-Telecom-X/blob/main/Copia_de_TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#游눠Acerca del desaf칤o 游눠

Descripci칩n

# ***Telecom X - An치lisis de Evasi칩n de Clientes***

Has sido contratado como asistente de an치lisis de datos en Telecom X y formar치s parte del proyecto "Churn de Clientes". **La empresa** enfrenta una alta tasa de cancelaciones y** necesita comprender los factores que llevan a la p칠rdida de clientes.**

Tu desaf칤o ser치 **recopilar, procesar y analizar los dato**s, utilizando Python y sus principales bibliotecas **para extraer informaci칩n valiosa**. A partir de tu an치lisis, el equipo de Data Science podr치 avanzar en modelos predictivos y desarrollar estrategias para reducir la evasi칩n.

#游늷 Extracci칩n

##Cargando Librerias

In [11]:
# Importamos las librer칤as
import pandas as pd
import requests
import matplotlib.pyplot as plt
import seaborn as sns

##Importando Datos

In [12]:
url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json"
df_telecom = pd.read_json(url)
df_telecom.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

#游댢 Transformaci칩n

In [13]:
df_telecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

#游늵 Carga y an치lisis

#游늯Informe final