<a href="https://colab.research.google.com/github/jorgevillegazz/Challange-Telecom-X/blob/main/TelecomX_LATAM_de_George.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Acerca del desaf铆o 

Descripci贸n

# ***Telecom X - An谩lisis de Evasi贸n de Clientes***

Has sido contratado como asistente de an谩lisis de datos en Telecom X y formar谩s parte del proyecto "Churn de Clientes". **La empresa** enfrenta una alta tasa de cancelaciones y** necesita comprender los factores que llevan a la p茅rdida de clientes.**

Tu desaf铆o ser谩 **recopilar, procesar y analizar los dato**s, utilizando Python y sus principales bibliotecas **para extraer informaci贸n valiosa**. A partir de tu an谩lisis, el equipo de Data Science podr谩 avanzar en modelos predictivos y desarrollar estrategias para reducir la evasi贸n.

#### Diccionario de datos

- `customerID`: n煤mero de identificaci贸n 煤nico de cada cliente
- `Churn`: si el cliente dej贸 o no la empresa
- `gender`: g茅nero (masculino y femenino)
- `SeniorCitizen`: informaci贸n sobre si un cliente tiene o no una edad igual o mayor a 65 a帽os
- `Partner`: si el cliente tiene o no una pareja
- `Dependents`: si el cliente tiene o no dependientes
- `tenure`: meses de contrato del cliente
- `PhoneService`: suscripci贸n al servicio telef贸nico
- `MultipleLines`: suscripci贸n a m谩s de una l铆nea telef贸nica
- `InternetService`: suscripci贸n a un proveedor de internet
- `OnlineSecurity`: suscripci贸n adicional de seguridad en l铆nea
- `OnlineBackup`: suscripci贸n adicional de respaldo en l铆nea
- `DeviceProtection`: suscripci贸n adicional de protecci贸n del dispositivo
- `TechSupport`: suscripci贸n adicional de soporte t茅cnico, menor tiempo de espera
- `StreamingTV`: suscripci贸n de televisi贸n por cable
- `StreamingMovies`: suscripci贸n de streaming de pel铆culas
- `Contract`: tipo de contrato
- `PaperlessBilling`: si el cliente prefiere recibir la factura en l铆nea
- `PaymentMethod`: forma de pago
- `Charges.Monthly`: total de todos los servicios del cliente por mes
- `Charges.Total`: total gastado por el cliente

# Extracci贸n

##Cargando Librerias

In [83]:
# Importamos las librer铆as
import pandas as pd
import requests
import matplotlib.pyplot as plt
import seaborn as sns

##Importando Datos

In [118]:
url = "https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json"
df_telecom = pd.read_json(url)

# Visualizando los Datos

In [119]:
df_telecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [120]:
df_telecom

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

# El archivo **json**  que proporciona la **Empresa** tiene cuatro columnas directorio la cuales  se tiene  que proceceder a **normalizar** (customer, phone, internet y account)

In [124]:
# Extraer columnas customerID	Churn
df_customerID_Churn = df_telecom[['customerID', 'Churn']]

#NORMALIZANDO las 4 columnas

# Extraer columnas que  tienen directorio
df_customer = pd.json_normalize(df_telecom['customer'])
df_phone = pd.json_normalize(df_telecom['phone'])
df_internet = pd.json_normalize(df_telecom['internet'])
df_account = pd.json_normalize(df_telecom['account'])

# Se concatena o juentan las columnas para crear el nuevo df  ya normalizado o sin direcotrios
df_normalizado = pd.concat([df_customerID_Churn, df_customer, df_phone, df_internet, df_account], axis=1)

#Obligamos a mostrar  TODAS la columnas con la siguinete lienea de  comando de pandas 'display.max_columns', None
pd.set_option('display.max_columns', None)

df_normalizado

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [125]:
#visualizamos el tipo de dato por columna
df_normalizado.dtypes

customerID           object
Churn                object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
Charges.Monthly     float64
Charges.Total        object
dtype: object

In [126]:
#Vizualizamos el nombre de las columnas
# Nombres de columnas
df_normalizado.columns.tolist()

['customerID',
 'Churn',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Charges.Monthly',
 'Charges.Total']

In [127]:
# Limpiar nombres de columnas que tienen punto (Charges.Monthly y Charges.Total)
df_normalizado.columns = [col.replace('Charges.', 'Charges_')  for col in df_normalizado.columns]

# visualizar resultado
df_normalizado.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [128]:
#Verificacion del cambio
df_normalizado.columns.tolist()

['customerID',
 'Churn',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Charges_Monthly',
 'Charges_Total']

In [129]:
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges_Monthly   7267 non-null   float64
 20  Charges_Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

#**Conversion de Datos a Tipo Num茅rico**

In [130]:
from numpy import astype
# Convertimos 茅stas 4 columnas que se consideran Relevantes para nuestro 谩nalisis  a tipo num茅rico (int o float)

df_normalizado['SeniorCitizen'] =df_normalizado['SeniorCitizen'].astype(int)
df_normalizado['tenure'] = df_normalizado['tenure'].astype(int)
df_normalizado['Charges_Monthly'] = df_normalizado['Charges_Monthly'].astype(float)
# Usamos el comando pd.to_numeric()  porque no se puede  convertir directamente de tipo String a float
df_normalizado['Charges_Total'] = pd.to_numeric(df_normalizado['Charges_Total'], errors='coerce')

In [131]:
# Verificamos los nuevos tipos de datos
df_normalizado.dtypes[['SeniorCitizen', 'tenure', 'Charges_Monthly', 'Charges_Total']]

SeniorCitizen        int64
tenure               int64
Charges_Monthly    float64
Charges_Total      float64
dtype: object

#Busqueda de valores Nulos (Nan)

In [132]:
#Buscamos si hay  valores faltantes (NaN)
df_normalizado[['Charges_Monthly', 'Charges_Total']].isna().sum()

Charges_Monthly     0
Charges_Total      11
dtype: int64

In [133]:
df_normalizado[df_normalizado['Charges_Total'].isna()]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN

# **Reemplazo de Valores nulos (Nan)**

In [134]:
# Paso 2.3: Reemplazar valores nulos en Charges_Total con 0
# Justificaci贸n: clientes con tenure = 0 a煤n no han generado cobros

df_normalizado['Charges_Total'] = df_normalizado['Charges_Total'].fillna(0)

# Verificamos que ya no existan valores nulos en Charges_Total
#print("Valores nulos en Charges_Total despu茅s del reemplazo:", df['Charges_Total'].isna().sum())

In [136]:
#Comprobando los cambios
df_normalizado[['Charges_Monthly', 'Charges_Total']].isna().sum()

Charges_Monthly    0
Charges_Total      0
dtype: int64

In [33]:
columnas=list(df_normalizado.columns)
columnas

['customerID',
 'Churn',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Charges.Monthly',
 'Charges.Total']

#Buscamos si hay **Strings vacios** ,**Valores Nulos** y  con **Espacios en Blanco** en cada  columna

In [116]:
# CREAMOS un ciclo for para detectar datos nulos en cada  columna
print("--- Iniciando impresi贸n de columnas ---")
for nombre in df_normalizado.columns:
    nulos=(df_normalizado[nombre]=='').sum()
    if nulos > 0:
      print(nombre,'......',nulos)
print("--- Fin de la impresi贸n ---")

--- Iniciando impresi贸n de columnas ---
Churn ...... 224
--- Fin de la impresi贸n ---

In [117]:
# 2. CREAMOS UN ciclo for para DETECTAR espacios en blanco en cada columna
print("--- Iniciando impresi贸n de columnas con espacios---")
for nombre in df_normalizado.columns:
    espacios=(df_normalizado[nombre]==' ').sum()
    if espacios > 0:
        print(nombre,'......',espacios)
print("--- Fin de la impresi贸n ---")

--- Iniciando impresi贸n de columnas con espacios---
Charges.Total ...... 11
--- Fin de la impresi贸n ---

In [38]:
#ahora trataremos los valores str vacios, considere que los valores en churn no los vamos a eliminar por el momento, a la columna churn la trataremos como valores enteros
#pasamos el churn a valores si 1, no 0 y los vacios -1 para futuros analisis
df_normalizado['Churn']= df_normalizado['Churn'].str.strip().replace('',-1)
#para el changes.total que seria lo que gasto el cliente en total, lo dejaremos en 0 porque puede que el cliente sea nuevo o en cierto periodo no facturo
df_normalizado['Charges.Total']= df_normalizado['Charges.Total'].str.strip().replace(' ','0')
df_normalizado.isnull().sum()

customerID            0
Churn               224
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
Charges.Monthly       0
Charges.Total         0
dtype: int64

In [39]:
columnas=list(df_normalizado.columns)
columnas

['customerID',
 'Churn',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Charges.Monthly',
 'Charges.Total']

In [114]:
# CREAMOS un ciclo for para detectar datos nulos en cada  columna
print("--- Iniciando impresi贸n de columnas ---")
for nombre in columnas:
    nulos=(df_normalizado[nombre]=='').sum()
    if nulos > 0:
      print(nombre,'......',nulos)
print("--- Fin de la impresi贸n ---")

--- Iniciando impresi贸n de columnas ---
Churn ...... 224
--- Fin de la impresi贸n ---

In [115]:
# 2. CREAMOS UN ciclo for para DETECTAR espacios en blanco en cada columna
print("--- Iniciando impresi贸n de columnas con espacios---")
for nombre in columnas:
    espacios=(df_normalizado[nombre]==' ').sum()
    if espacios > 0:
        print(nombre,'......',espacios)
print("--- Fin de la impresi贸n ---")

--- Iniciando impresi贸n de columnas con espacios---
Charges.Total ...... 11
--- Fin de la impresi贸n ---

In [ ]:
#ahora trataremos los valores str vacios, considere que los valores en churn no los vamos a eliminar por el momento, a la columna churn la trataremos como valores enteros
#pasamos el churn a valores si 1, no 0 y los vacios -1 para futuros analisis
df_telecom_norm['Churn']= df_telecom_norm['Churn'].str.strip().replace('',-1)
#para el changes.total que seria lo que gasto el cliente en total, lo dejaremos en 0 porque puede que el cliente sea nuevo o en cierto periodo no facturo
df_telecom_norm['Charges.Total']= df_telecom_norm['Charges.Total'].str.strip().replace('','0')
df_telecom_norm.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [ ]:
#BUSCAMOS si hay valores NULOS
df_normalizado.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [ ]:
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [ ]:
#detectamos si hay valores nulos
df_normalizado.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [ ]:
#Verificamos duplicados
df_normalizado.duplicated().sum()

np.int64(0)

# Transformaci贸n

# Carga y an谩lisis

#Informe final